
/***********************************************************************************
  
Responsive Helpers Under 600px
  
************************************************************************************/

@media (max-width: 600px) {

    /*******************************************************************************
      
    Gallery
      
    ********************************************************************************/
    
    .gallery {
        padding-top: 79px;
    }
    
    .gallery:last-of-type {
        padding-bottom: 19px;
    }
    
    /*******************************************************************************
      
    Gallery Typography
      
    ********************************************************************************/
    
    .gallery h2 {
        font-size: 16px;
        line-height: 12px;
        top: 53px;
    }
}

/***********************************************************************************
  
Responsive Helpers Under 400px
  
************************************************************************************/

@media (max-width: 400px) {

    /*******************************************************************************
      
    Section
      
    ********************************************************************************/
    
    section {
        padding: 0 19px;
    }

    /*******************************************************************************
      
    Gallery
      
    ********************************************************************************/
    
    .gallery {
        padding-top: 59px;
    }
    
    /*******************************************************************************
      
    Gallery Typography
      
    ********************************************************************************/
    
    .gallery h2 {
        font-size: 14px;
        line-height: 10px;
        top: 40px;
    }
}
